
    <footer class="text-center position-absolute bottom-0 start-50 translate-middle"> Template Copyright <%- new Date().getFullYear(); %></footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js" integrity="sha512-vyRAVI0IEm6LI/fVSv/Wq/d0KUfrg3hJq2Qz5FlfER69sf3ZHlOrsLriNm49FxnpUGmhx+TaJKwJ+ByTLKT+Yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="main-bundled.js"></script>
</body>
</html>